PORT=5000
SUPABASE_URL=https://szloarrfsqdqfygsogpt.supabase.co
SUPABASE_ANON_KEY=sb_publishable_hnpappQ8ReNiUtKuiBx7tg_kkSgG24H
# SUPABASE_SERVICE_ROLE_KEY=your_service_role_key_from_supabase_dashboard_settings_api
